@import "../../sass/abstracts/grid";
@import "../../sass/abstracts/colors";


.vidou_container {
    gap: 1rem;
    padding: 3rem 1.25rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    .vidou_componante {
    cursor: pointer;
    .Thumbnail {
        margin-bottom: .63rem;
        max-width:20rem;
    }
    .vidou_discrption {
        display: flex;
        align-items: start;
        gap: .75rem;
        .chanel_img {
width: 1.875rem;
height: 1.875rem;
border-radius: 1.875rem;
        }
        .vidou_content {
            .vidou_titel {
                color: map-get($colors, primery );
                font-size: 1.1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.300rem;
                margin-bottom: 0.31rem;
                max-width:14rem;
            }
            .chanel_name{
    color: map-get($colors,Youtube , black_38);
     font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
            }
.viwe_durtion {
    color: map-get($colors,Youtube , black_38);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: .10rem;
}
        }
    }
    }
  }
