@import "../../sass/abstracts/grid";
@import "../../sass/abstracts/colors";


.vidou_container {
    gap: 0.75rem;
    padding: 3rem 1.25rem;
    display: grid;
    align-items: center;
    margin-left: auto;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    .vidou_componante {
    cursor: pointer;
    .Thumbnail {
        width: 16.86169rem;
        height: 10.125rem;
        margin-bottom: .63rem;
        border-radius: 0.44375rem;
    }
    .vidou_discrption {
        display: flex;
        align-items: start;
        gap: .75rem;
        .chanel_img {
width: 1.875rem;
height: 1.875rem;
border-radius: 1.875rem;
        }
        .vidou_content {

            .vidou_titel {
                color: map-get($colors, primery );
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.125rem;
            margin-bottom: 0.31rem;
            max-width: 13rem;
            }
            .chanel_name{
    color: map-get($colors,Youtube , black_38);
     font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
            }
.viwe_durtion {
    color: map-get($colors,Youtube , black_38);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: .10rem;
}
        }
    }
    }
  }
