* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  img {
    object-fit: cover;
  }
  
  input,
  button {
    outline: none;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  i {
    user-select: none;
    cursor: pointer;
  }