$colors:(
    Youtube:(
        black_12:#121212,
        black_18:#181818,
        black_21:#212121,
        black_32:#323232,
        black_38:#383838,
        black_47:#474747,
        black_AA:#AAAAAA,
        black_White:#FFFFFF,
        ligt_blue:#3DA6FF,
        dark_blue:#065FD4,
        ligt_red:#CC0000,
        dark_red:#C00,
        primeryblack:#000000,
        primery: rgba(0, 0, 0, 0.60),
        ) 
)